/* blue - #17408b
red - #c9082a */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f9f6f7;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Candal', sans-serif;
}

p, a {
  font-size: 21px;
  font-family: 'Open Sans', sans-serif;
}